<div id="<%= dom_id student %>">
  <div>
    <strong>Student name:</strong>
    <%= student.student_name %>
  </div>

  <div>
    <strong>Student age:</strong>
    <%= student.student_age %>
  </div>

  <div>
    <strong>Student address:</strong>
    <%= student.student_address %>
  </div>

</div>
